# 忽略 node_modules 文件夹
node_modules/

# 忽略构建输出文件夹
dist/

# 忽略 VSCode 的用户设置
.vscode/
!/.vscode/launch.json
!/.vscode/tasks.json

# 忽略日志文件
*.log

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db
tmp/*
.CodeReDesignWorkSpace/*
*.vsix
llms/paraphrase-multilingual-MiniLM-L12-v2_quint8_avx2.onnx

# 测试文件
*.js.map
*.js
.vscode-test


