.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
!src/resources/**
!src/python/**
testdata/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.CodeReDesignWorkSpace/**
prompt/**
llms/**
*.bat
*.zip
